.container {
    composes: hauto from "../../../../public/style/reset.css";
    padding: 10PX 0;
    background-color: white;
}

.newsBox {
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10PX;
}

.newsContainer {
    display: block;
    width: 73PX;
    height: 16PX;
    float: left;
}

.newsContainerImg {
    display: block;
    width: 73PX;
    height: 16PX;
    margin-top: 2PX;
}

.myCarousel {
    float: left;
    width: 200PX !important;
    overflow: hidden;
    margin-left: 20PX;
}

.more {
    float: right;
    display: block;
    width: 30PX;
    height: auto;
    overflow: hidden;
    text-align: right;
}