.container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    border-radius: 22px 22px 0 0;
}

.ulContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
}

.liContainer {
    display: block;
    width: 20%;
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 20PX;
}

.liContaineA {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.liContaineImg {
    margin: 0 auto;
    display: block;
    width: 45PX;
    height: 45PX;
}

.liContaineTile {
    display: block;
    height: 30PX;
    line-height: 30PX;
    width: 100%;
}